
<!--<input type = "submit" (click)="hello1()" value="Hit me" ><br><br><br>-->
<ul>
  <li *ngFor="let intern of myIntern">
    {{intern.name +' has ID : ' +intern.id}}
  </li>
</ul>
<!--<input  [(ngModel)]="name" type ="text" value = " "><div *ngIf="test">-->
<!--<input type ="text" #myInput  (keyup.enter)="clickme(myInput.value)">-->
<!--<input type="text" class="form-control" id="name"-->
<!--required-->
<!--[(ngModel)]="name" name="name"-->
<!--#internId="ngModel">-->
<!--<div [(hidden)]="interdId.valid || internId.pristine">-->
<!--Name is required-->
<!--</div>-->
<!--<br>-->
<!--<form (ngSubmit)="submit()">-->
<!--<input type="text"  id="name"-->
<!--required-->
<!--[(ngModel)]="intern.id" name="id"-->
<!--#internId="ngModel">-->
<!--<div [(hidden)]="internId.valid || internId.pristine">-->
<!--Id is required-->
<!--</div><br>-->
<!--<input type="text"  id="name"-->
<!--required-->
<!--[(ngMoxzxaxx-->
<a routerLink="/home">change route</a>
<router-outlet></router-outlet>
